<div class="register-box"> 
  <!--<div class="login-logo">-->
    <!-- HTML form for validation demo -->
    <form action="" method="post" id="register-form" novalidate="novalidate">
      <div id="form-content">
        <fieldset>

          <div class="fieldgroup">
            <label for="Nome">Nome</label>
            <input type="text" name="name"/>
          </div>

          <div class="fieldgroup">
            <label for="email">Email</label>
            <input type="text" name="email"/>
          </div>

          <div class="fieldgroup">
            <label for="password">Password</label>
            <input id="input-password" type="password" name="password"/>
          </div>

          <div class="fieldgroup">
            <input id="submit-btn" type="submit" value="Registar" class="submit"/>
          </div>

        </fieldset>
      </div>
    </form>
 <!-- </div> /.form-box -->
</div> <!-- /.register-box -->