/Wifi-Detect/nbproject/private/
/Wifi-Detect/build/
/Wifi-Detect/dist/
/TestRest/nbproject/private/
/wifitracker/nbproject/

*.class
ProjetoFinal/node_modules/
material/nbproject/private/private.xml
/ProjetoFinal/nbproject/private/
ProjetoFinal/nbproject/project.properties
*.cmd
material2/node_modules/.bin/_mocha.cmd
ProjetoFinal/serverSocket/node_modules/
testAuth/TestePassport/node_modules/
/NbProject/nbproject/private/
/wifitracker/nbproject/private/
wifitracker/node_modules/
wifitracker/nbproject/project.properties
wifitracker/serverSocket/node_modules/
testes/ProjetoFinal/node_modules/
testes/ProjetoFinal/serverSocket/
/wifinder/nbproject/private/
wifinder/node_modules/
