#view-source {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

.demo-drawer-header {
    height: 80px;
}

/*.mdl-layout--fixed-drawer>.mdl-layout__content {
    margin-left: 15%;
}*/

.demo-content {
    max-width: 100%;
}

.select button {
    width:100%; 
    text-align:left;
}

.select .caret {
    position:absolute; 
    right:10px; 
    margin-top:10px;
}

.select:last-child>.btn {
    border-top-left-radius:5px; 
    border-bottom-left-radius:5px;
}

.selected {
    padding-right:10px;
}

.option {
    width:100%;
}

#contentor-principal {
    width: 100%;
    height: 100%;
    margin: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    overflow-y: auto;
}


.divAntena {
    margin: 0.5%; 
    position: relative;
    float: left;
}
.DispDescript {
    /*    -webkit-box-shadow: 15px 6px 32px -2px rgba(0,0,0,0.24);
        -moz-box-shadow: 15px 6px 32px -2px rgba(0,0,0,0.24);
        box-shadow: 15px 6px 32px -2px rgba(0,0,0,0.24);*/
    width:150px;
    margin: auto;
    min-width:30%;
    float: left;
    padding: 10px;
}

#map {
    left:0;
    top:0;
    position: relative;
    width: 100%;
    height: 100%;
}

.divAntena > img {
    width:100%;
    height:100%
}

.mapOpen > p {
    cursor: pointer;
    margin: auto;
}

#addmap {
    width:600px; 
    height:300px; 
}

#hover{
    position:fixed;
    background:#000;
    width:100%;
    height:100%;
    opacity: .6;
    z-index: 10;
}

#popup{
    position:absolute;
    width:85%;
    height:85%;
    background:#fff;
    left:7.5%;
    top:7.5%;
    border-radius:5px;
    padding:60px 0;
    text-align:center;
    box-shadow:0 0 10px 0 #000;
    z-index: 11;
}

#DispByAntena {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    border: 1px double #dcdee0;
}
#container {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

#close{
    position:absolute;
    background:black;
    color:white;
    right:-15px;
    top:-15px;
    border-radius:50%;
    width:30px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-size:8px;
    font-weight:bold;
    font-family:'Arial Black', Arial, sans-serif;
    cursor:pointer;
    box-shadow:0 0 10px 0 #000;
}

#map{
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}


.DispDescript {
    min-width: 215px;
    width: 33.3%;
    margin: auto;
    min-height: 50px;
    height: 33.3%
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

