<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="active treeview">
        <a href="#">
          <i class="fa fa-sitemap"></i> <span>Selecione Um Site</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu site-title">                  
        </ul>
      </li>


      <li class="header">Menu</li>
      <li class=""><a class="select-item-menu" data-nome="Dashboard" href="dashboard.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
      <li class=""><a class="select-item-menu" data-nome="Registar Novo Utilizador" href="new-user.html"><i class="fa fa-user-plus"></i> <span>Novo Utilizador</span></a></li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>