<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div  class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle fa-fw"></i> Details </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div><!-- /.box-header -->


      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Access Point</label>
              <select class="form-control select2" id="ApSelect">
              </select>
            </div><!-- /.form group -->
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div> <!-- row -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.row -->

<div class="row row-chart">
  <div class="col-md-12">
    <div class="box">
      <div  class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle fa-fw"></i> Chart </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <div class="row">
          <div class="col-md-12">
            <div id="chartContainer" class="height400">                            
            </div><!-- /#mynetwork -->
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div> <!-- row -->

    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.row -->

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div  class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-info-circle fa-fw"></i> Chart </h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div><!-- /.box-header -->


      <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div id="mynetwork" class="height400">                            
              </div><!-- /#mynetwork -->
            </div><!-- /.box-body -->
          </div><!-- /.box -->
          <div class="row">
            <div class="col-md-12 showScale">
              <div class="col-md-1 text-center minDevice">
                0 devices
              </div>
              <div class="col-md-10 css3gradient">          
              </div>
              <div class="col-md-1 text-center maxDevice">
                ...devices
              </div>
            </div>
          </div>
        </div> <!-- row -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</div><!-- /.row -->

<div class="row" id="div-row-table-ap" style="display: none">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Access Point Details</h3>
        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body">
        <table id="tblAp" class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>MAC Address</th>
              <th>SSID</th>
              <th>Authentication</th>
              <th>Cipher</th>
              <th>Privacy</th>
              <th>Channel</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
  </div> <!-- row -->
</div>

<script type="text/javascript" src="./js/vis.min.js"></script>
<link href="./css/vis.min.css" rel="stylesheet" type="text/css" />
