<div class="row">
    <div class="col-md-6">
        <div class="box">
            <div  class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-info-circle fa-fw"></i> Details </h3>
                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button class="btn btn-box-tool" data-toggle="tooltip" title="Remove" data-widget="remove">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div><!-- /.box-header -->


            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Sensor</label>
                            <select class="form-control select2" id="SensorSelect">
                                <!-- <option selected="selected">Sensor1</option>
                                <option>Sensor2</option>
                                <option>Sensor3</option> -->
                            </select>

                            <div class="input-group">
                                <label>Date range:</label>
                                <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div><!-- /.form group -->

                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->

        </div><!-- /.box -->
    </div><!-- /.col -->

    <div class="col-md-6">

            <div class="box">
                <div  class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-map fa-fw"></i> Geolocation </h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Collapse" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button class="btn btn-box-tool" data-toggle="tooltip" title="Remove" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="chart">
                                <!-- Sales Chart Canvas -->
                                <div id="mapSensor"  class="height400"></div>
                            </div><!-- /.chart-responsive -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- ./box-body -->
            </div><!-- /.box -->

    </div><!-- /.col -->
</div><!-- /.row -->