<div class="register-box-body" style="background-color: transparent !important; box-shadow: none !important;">
    <form id="register-form" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" name="name" placeholder="Nome" />
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="email" class="form-control" name="email" placeholder="Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" name="password2" placeholder="Retype password" />
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                </div>
            </div><!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" id="submit-btn" class="btn btn-primary btn-block btn-flat">Create User</button>
            </div><!-- /.col -->
        </div>
    </form>
</div>

<div id="avisoLoginFail" class="col-md-8 my-model-hide">
  <div class="box box-default">
    <div class="box-body">
      <div class="alert alert-danger alert-dismissable">
        <h3><i class="icon fa fa fa-ban"></i>Failed!</h3>
        <h4>Email already exists in the database</h4>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>

<div id="avisoLoginSucess" class="col-md-8 my-model-hide">
  <div class="box box-default">
    <div class="box-body">
      <div class="alert alert-success alert-dismissable">
        <h3><i class="icon fa fa fa-check"></i>Success</h3>
        <h4>The user can now access the application</h4>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>