<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="header bg-black-active">Menu</li>
    <li class="active"><a class="select-item-menu" data-nome="Inicio" href=""><i class="fa  fa-th-large"></i> <span>Start Page</span></a></li>
    <li class="treeview">
      <a href="#" id="site-ativo">
        <i class="fa fa-sitemap"></i> 
        <span class="header">Selected Site</span><br> 
        <p class="text-center bg-black-gradient" style="visibility: hidden;width: 85%">Select a site</p> 
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu site-title">                  
      </ul>
    </li>
    <li class="select-site-first"><a class="select-item-menu" data-nome="Dashboard" href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
    <li class="treeview">
      <a href="">
        <i class="icon fa fa-info-circle">          
        </i> <span>Details</span>
        <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu">
        <li class="select-site-first">
          <a class="select-item-menu" data-nome="Detail" href="">
            <i class="material-icons">wifi_tethering</i> 
            <span>Sensor</span>
          </a>
        </li>
        <li class="select-site-first">
          <a class="select-item-menu" data-nome="DetailAP" href="">
            <i class="material-icons">router</i> 
            <span>Access Point</span>
          </a>
        </li>
        <li class="select-site-first">
          <a class="select-item-menu" data-nome="DetailDevice" href="">
            <i class="material-icons">cast_connected</i> 
            <span>Devices</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</section>