<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="treeview">
      <a href="#" id="site-ativo">
        <i class="fa fa-sitemap"></i> <span>Select a site</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu site-title">                  
      </ul>
    </li>
    <li class="header">Menu</li>
    <li class="active"><a class="select-item-menu" data-nome="Inicio" href=""><i class="fa  fa-forumbee"></i> <span>Start Menu</span></a></li>
    <li class="dashboard"><a class="select-item-menu" data-nome="Dashboard" href=""><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

  </ul>
</section>