<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- Sidebar user panel -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu">
    <li class="active treeview">
      <a href="#" id="site-ativo">
        <i class="fa fa-sitemap"></i> <span>Selecione Um Site</span> <i class="fa fa-angle-left pull-right"></i>
      </a>
      <ul class="treeview-menu site-title">                  
      </ul>
    </li>


    <li class="header">Menu</li>
    <li class=""><a class="select-item-menu" data-nome="Dashboard" href="dashboard.html"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>

  </ul>
</section>

<div id="site-error" class="col-md-8 my-model-hide">
  <div class="box box-default">
    <div class="box-body">
      <div class="alert alert-warning alert-dismissable">
        <h3><i class="icon fa fa-warning"></i> Atenção!</h3>
        <h4>Selecione um Site para Avançar.</h4>
      </div>
    </div><!-- /.box-body -->
  </div><!-- /.box -->
</div>
